= form_for(@slide) do |f|
  - if @slide.errors.any?
    #error_explanation
      %h2
        = pluralize(@slide.errors.count, "error")
        prohibited this slide from being saved:
      %ul
        - @slide.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :description
    %br/
    = f.text_field :description
  .field
    = f.label :end_date
    %br/
    = f.datetime_select :end_date
  .field
    = f.label :file_to_upload
    = f.file_field :file
  .actions
    = f.submit
