.container
  .row
    =link_to "Home", root_path, class: "btn btn-large btn-primary"
    - @slides.each do |slide|
      = link_to 'Show', slide
      = link_to 'Edit', edit_slide_path(slide)
      = link_to 'Destroy', slide, method: :delete, data: { confirm: 'Are you sure?' }
      = slide.title
      = slide.caption
      = slide.path
      = slide.end_date
      = image_tag slide.path, class: "img-responsive"
      %br/
      %br/

  %br/
  = link_to 'New Slide', new_slide_path


